.contact-form {
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    margin-top: 10px;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.contact-form__title {
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.contact-form__field {
  display: flex;
  width: 100%;
  min-height: 58px;
  background-color: @lightgray;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.contact-form__subitem {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: @dark;
}

.contact-form__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
