.emotions-form {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.emotions-form__title {
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.emotions-form__txt {
  margin: 0;
  width: 279px;
  min-height: 160px;
  font-family: @basic-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  background-color: @lightgray;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 100%;
  }
}

.emotions-form__subitem {
  margin: 0;
  display: none;
  font-size: 14px;
  line-height: 26px;
  color: @dark;
}
