.intro-description {
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 124px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 484px;
    margin-bottom: 43px;
  }
}

.intro-description__title {
  padding: 32px 33px 0 31px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: 63px;
    margin-left: -13px;
    width: 542px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
    margin-left: -31px;
  }

  &--main {
    @media (min-width: @tablet-width) {
      padding-top: 44px;
      padding-left: 30px;
      width: 542px;
      font-size: 21px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 55px;
      margin-left: -31px;
    }
  }
}

.intro-description__reasons {
  font-size: 14px;
  line-height: 26px;
  color: @dark;
  margin: 0;
  padding: 30px;

  @media (min-width: @tablet-width) {
    width: 542px;
    padding: 0;
    padding-top: 31px;
    margin-left: -11px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -30px;
  }
}

.intro-description__text {
  font-size: 14px;
  line-height: 26px;
  color: @dark;
  margin: 0;
  padding: 25px 15px 0 19px;

  @media (min-width: @tablet-width) {
    width: 542px;
    padding: 0;
    padding-top: 32px;
    margin-left: -11px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -30px;
  }
}

.intro-description__wrapper {
  margin-bottom: -1px;
}
