.intro {
  position: relative;
  min-height: 389px;
  background-image: url("../img/back-mobile.jpg.jpg");
  background-repeat: no-repeat;

  svg {
    position: absolute;
    top: 90px;
    left: 19px;
  }
}
