.page-header {
  background-color: #ffffff;
  position: relative;
  min-height: 56px; 
}

.page-header__logo {
  cursor: pointer;
  width: 102px;
  height: 84px;
  display: block;
  position: absolute;
  z-index: 2;
  bottom: -28px;
  left: 50%;
  transform: translate(-50%, 0); 

  @media (min-width: 768px) {
    top: 0; 
  }

  @media (min-width: 1200px) {
    width: 187px;
    height: 97px; 
    } 
}