.page {
  height: 100%;
  font-family: @basic-font;
}

.page__body {
  width: 320px;
  min-height: 100%;
  margin: 0 auto;
  background-color: @white;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
  }
}
