.person-form {
  label {
    padding-right: 5px;
  }
}

.person-form__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.person-form__field {
  display: flex;
  width: 100%;
  min-height: 58px;
  background-color: @lightgray;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}
