.person-form__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.name-form {
  width: 230px;
  min-height: 58px;
  background-color: @lightgray;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.surname-form {
  width: 192px;
  min-height: 58px;
  background-color: @lightgray;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.middlename-form {
  width: 194px;
  min-height: 58px;
  background-color: @lightgray;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}
