.photo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 33%;
  }

  &--full-width {
    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }
}

.photo__title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @black;

  @media (min-width: @desktop-width) {
    font-weight: 400;
    color: @white;
  }
}

.photo__author {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: @dark;
  text-transform: none;

  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.photo__number {
  position: absolute;
  bottom: -3px;
  left: 38px;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @black;

  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.photo__text-wrapper {
  background-color: @white;

  @media (min-width: @tablet-width) {
    background-color: @lightgray;
  }

  @media (min-width: @desktop-width) {
    margin-top: -72px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
