.photo__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @black;
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
  color: @dark;
}

.photo__number {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @black;
}
