.reason-subitem {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .reason-subitems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}

.reason-subitem__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.reason-subitem__description {
  width: 185px;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: @dark;
}

.reason-subitems__item--souvenir {
  order: 1;
}
