.reason-wrapper__inner {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

@media (min-width: @tablet-width) {
  .reason__content--gray {
    height: 256px;
  }
}

.reason-subitem--souvenir {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}
