.reason-wrapper__inner {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .reason__content--gray {
    height: 256px;
  }
}

@media (min-width: @tablet-width) {
  .reason-subitem--souvenir {
    order: 2;
  }
}
