.reason__content {
  &--blue {
    background-color: @blue;
  }

  &--gray {
    background-color: @gray;
  }
}

.reason__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  &--white {
    color: @white;
  }

  &--black {
    color: @black;
  }
}

.reason__number {
  font-size: 14px;
  line-height: 21px;

  &--white {
    color: @white;
  }

  &--black {
    color: @black;
  }
}

.reason__description {
  font-size: 14px;
  line-height: 21px;

  &--white {
    color: @white;
  }

  &--dark {
    color: @dark;
  }
}

.reason__image {
  margin-bottom: 26px;
}
