.search {
  //margin-top: 33px;
  //margin-bottom: 49px;
}

.search__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: @black;
}

.search__description {
  font-size: 14px;
  line-height: 24px;
  color: @dark;
}
