.search {
  min-height: 120px;
  text-align: center;
}

.search__title {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: @black;
}

.search__description {
  font-size: 14px;
  line-height: 24px;
  color: @dark;
  margin: 0;
}
